.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #242424;
  overflow-y: auto;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .content {
    background-color: #ffffff;
  }
}